/*.container-fluid {
  display: flex;
  flex-direction: column;
  height: 460px;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  background-color: rgba(197, 250, 166, 0.664);
  width: 300px;
  height: 400px;
  border: 3px solid #0808082c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.sign-in-container h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
}

.btn-primary {
  width: 100%;
  margin-top: 20px;
}*/

.btn-link {
  color: #28a745; 
}
.btn-link:hover {
  color: #218436; 
}

.bi-facebook{
  color:#1877F2
}

.bi-google{
  color:	#34A853;
}
.background {

background-size: cover;
background-position: center;
}
body{
background-color:rgb(194, 224, 163);
}
