

.btn-link {
  color: #28a745; 
}
.btn-link:hover {
  color: #218436; 
}

.bi-facebook{
  color:#1877F2
}

.bi-google{
  color:	#34A853;
}
.background {

background-size: cover;
background-position: center;
}
body{
background-color:rgb(194, 224, 163);
padding: 0.1%;
}
.image-container {
  background-color: #f0f0f0; /* Replace with your desired background color */
  display: inline-block; /* Adjust as needed */
  padding: 10px; /* Optional: to create space around the image */
}

.image-container img {
  display: block; /* Ensure the image takes the full width of the container */
}

