<body>
    <header>
<!-- ....navbar... -->
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="" width="250" height="120" class="img-fluid ms-3">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a routerLink="/main-page-component">Home</a>
              </li>
              <li class="nav-item">
                <a routerLink="/how-it-works" class="ms-3">How it works?</a>
              </li>
        </ul>
        <div class="d-flex">
          <a routerLink="/get-assistant"><button type="submit " class="btn btn-light me-2">Get Assistent</button></a>
          <a routerLink="/sign-in"><button type="submit " class="btn btn-light me-2 ">Sign in</button></a>
          <a routerLink="/sign-up"><button type="submit " class="btn btn-light me-2 ">Sign up</button></a>
      </div>
      </div>
    </div>
  </nav>
</header>

<!-- ...main... -->
<div class="container-fluid p-5" style="background-color:  rgb(145, 197, 68);">
    <div class="row mt-3"><div class="col"><h1 class="text-white mt-3 mb-3">HOW IT WORKS ?</h1>
      <p>At AgroAssist, we've simplified the process of accessing expert agricultural advice and 
        solutions through our innovative platform. Here's how it works</p>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h4 class="text-white">Intuitive Interface:</h4>
        <p>Start by navigating to our website or accessing our 
          chatbot through your preferred messaging platform. Our 
          user-friendly interface ensures a seamless experience, 
          whether you're using a computer or mobile device</p>
          <h4 class="text-white">Intuitive Interface:</h4>
        <p>Start by navigating to our website or accessing our 
          chatbot through your preferred messaging platform. Our 
          user-friendly interface ensures a seamless experience, 
          whether you're using a computer or mobile device</p>
  
          
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/img/chatbot.jpg" alt="" class="img-fluid">
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/img/smart.jpeg" alt="" class="img-fluid">
          
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h4 class="text-white">Intuitive Interface:</h4>
        <p>Start by navigating to our website or accessing our 
          chatbot through your preferred messaging platform. Our 
          user-friendly interface ensures a seamless experience, 
          whether you're using a computer or mobile device</p>
          <h4 class="text-white">Intuitive Interface:</h4>
        <p>Start by navigating to our website or accessing our 
          chatbot through your preferred messaging platform. Our 
          user-friendly interface ensures a seamless experience, 
          whether you're using a computer or mobile device</p>
        
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h4 class="text-white">Intuitive Interface:</h4>
        <p>Start by navigating to our website or accessing our 
          chatbot through your preferred messaging platform. Our 
          user-friendly interface ensures a seamless experience, 
          whether you're using a computer or mobile device</p>
          <h4 class="text-white">Intuitive Interface:</h4>
        <p>Start by navigating to our website or accessing our 
          chatbot through your preferred messaging platform. Our 
          user-friendly interface ensures a seamless experience, 
          whether you're using a computer or mobile device</p>
  
          
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/img/organic.jpg" alt="" class="img-fluid">
      </div>
    </div>
  
    <div class="row">
      <h4 class="text-white">Empowering Farmers:</h4>
      <div class="col">
        <p>Ultimately, our goal is to empower farmers like you with the tools and knowledge needed to 
          thrive in today's dynamic agricultural landscape. By harnessing the power of technology and 
          expertise, we aim to enhance productivity, optimize resource utilization, and maximize 
          profitability for farmers worldwide</p>
      </div>
    </div>
    
  </div>

    <!-- ...foooter... -->
  <footer class="container-fluid mt-3 bg-success">
    <div class="container text-white p-5">
    <div class="row">
      <div class="col text-center mt-3"><img src="assets/img/logo.png" alt="" width="250" height="120"></div>
    </div>
    <div class="row text-center mt-3">
      <h5> Your trusted farming companion, cultivating success through technology and expertise.</h5>
    </div>
    <hr>
    <div class="row text-center">
      <h5>Reach out to us for inquiries, feedback, or partnership opportunities. We're here to help you 
      succeed in your farming endeavors.</h5>
    </div>
    
    <hr>
    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12  d-flex justify-content-start">
        <h5 class="mb-3">Connect With Us</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
    
     
        <ul style="list-style: none;">
          <li><h6><i class="bi bi-envelope"></i> Email:  demo&copy;gmail.com</h6></li>
          <li><h6><i class="bi bi-telephone"></i> Call us:  0000000000</h6></li>
          <li><h6><i class="bi bi-clock"></i> Timings:10:00am-6:00pm  </h6></li>
        </ul>
    
     
    
    </div>

      <div class="row mb-5">
      <form class="d-flex">
        <div class="col-lg-4 col-md-4 col-sm-6 ">
          <input type="email" class="form-control" placeholder="Enter Email" id="inputEmail4">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 ms-3">
          <button type="submit" class="btn btn-light">Sign in</button>
        </div>
      </form>
      </div>
    
    
  </div>
  
  </div>
  
  <div class="text-white pb-3"><p class="text-center ">Website Developed by Infosys Springboard Interns with Love
  </p></div>
    
  </footer>
</body>




  
