<div class="container-fluid">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-horizontal">
      <a class="navbar-brand" href="#">🌿𝐀𝐠𝐫𝐨𝐀𝐬𝐬𝐢𝐬𝐭</a>
      <div class="ml-auto d-flex align-items-center">
        <button class="nav-link btn btn-link mr-2 btn-gradient-20" routerLink="/sign-in">Sign In</button>
        <button class="nav-link btn btn-link mr-2 btn-gradient-20" routerLink="/sign-up">Sign Up</button>
        <button class="nav-link btn btn-link btn-gradient-20" routerLink="/chatbot">Get Assistant</button>
      </div>
    </nav>
    <!--<main>
      <section id="home">
        <div class="home-container">
          <h1 class="typewriter-container">WELCOME TO AGRO ASSIST</h1>
          <h3>Empowering Farmers with Smart Solutions.</h3>
         <p>Your trusted digital farming companion, providing personalized advice and solutions for every step of your agricultural journey. 
          Harnessing technology to streamline farming practices and maximize yield potential.<br>Your one-stop destination for all your queries.
        </p>
        </div>
      </section>
    </main>-->
  </header>
  <router-outlet></router-outlet>
  <footer>
    <div class="moving-gradient-footer"></div>
        <p>&copy; 2024 Agro Assist.</p>
  </footer>
</div> 