.btn-link {
    color: #28a745; 
  }
  .btn-link:hover {
    color: #218436; 
  }

  .bi-facebook{
    color:#1877F2
}

.bi-google{
    color:	#34A853;
}
.background {

  background-size: cover;
  background-position: center;
}
body{
  background-color:rgb(194, 224, 163);
}