<div class="container-fluid">
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-horizontal">
        <a class="navbar-brand" href="#">AgroAssist</a>
        <div class="ml-auto d-flex align-items-center">
          <button class="nav-link btn btn-link mr-2" routerLink="/sign-in">Sign In</button>
          <button class="nav-link btn btn-link mr-2" routerLink="/sign-up">Sign Up</button>
          <button class="nav-link btn btn-link" routerLink="/chatbot">Get Assistant</button>
        </div>
      </nav>
    </header>
    <router-outlet></router-outlet>
    <footer class="footer">
      <p>&copy; 2024 AgroAssist</p>
    </footer>
  </div>